* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
footer {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999;
}

footer {
  padding: 7em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.active {
  color: rgba(0, 0, 0, 0.5) !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
}

.p-4 {
  padding: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.section-spacing {
  padding: 7em 0;
}

.sidebar-wrap {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  padding-top: 1.5rem;
}

.sidebar-wrap .heading {
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
}
