ul {
  list-style: none;
}

footer {
  background-color: #1f1f1f;
  line-height: 2;
}

.col {
  flex: 1 1 auto;
  flex-basis: 0;
  flex-grow: 1;
  padding: 15px 15px;
  max-width: 100%;
  color: #999;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

footer h2 {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

footer span,
footer h2 {
  color: #eee;
}

footer a {
  color: #999;
}

footer a:hover {
  color: #eee;
}

.stories ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.stories li {
  padding: 0 0.5rem;
}

.stories a {
  display: block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
}

.stories a span {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question ul li span i {
  padding: 0 1rem;
}
